*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color:black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.nav_logo{

    width: 100px;
    height: 40px;
}



.logo{
    background-image: url(/amazonlogo.jpg);
    background-size: cover;
    width: 100px;
    height: 40px;
}



.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.firstaddress{
    font-size: 0.8rem;
    color: #cccccc;
    margin-left: 15px;
}

.secondaddress{
    font-size: 1rem;
    color: white;
    margin-left: 3px;
}

.icon{
    display: flex;
    align-items: center;
}


.searchbar{
    display: flex;
    align-items: center;
   


}

.searchbar:hover{
    border: 2px solid #febd68;
  
}

#items{
    width:55px;
     height: 40px;
     background-color: #e6e6e6;  
     border: 1px;
     text-align: center;
     border-top-left-radius:10% ;
     border-bottom-left-radius:10% ;
     

}

#sea{
    width:550px;
    height: 40px;
    background-color: #ffff;
    color: #0f1111;
    border: 0px;

   
}


.searchicon{
    width: 55px;
    height: 40px;
    background-color: #febd68;
    border-top-right-radius:10% ;
     border-bottom-right-radius:10% ;
     font-size: 1.2rem;
     color: #0f1111;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.language{
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

#image{
    width: 23px;
    height: 17px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}


#lan{

    width: 42px;
    height: 17px;
    font-size: 0.8rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    background-color: #0f1111;
    color: white;
    border:1px solid #0f1111;
}


.signin{

    height: 40px;

}

.tex{
    font-size: 0.7rem;
    margin-left: 6px;
    
}

#accounts{
    background-color: #0f1111;
    border:1px solid #0f1111;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.order{

height: 40px;

}

.outer{

    font-size: 0.7rem;
}

.inner{

    font-size: 0.9rem;
    font-weight: 600;
}


.carticon{
    font-size: 1.4rem;
    margin-top: 5px;
    
}

.carttex{
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 25px;
    position: relative;
    bottom: 18px;
}


a{
    text-decoration: none;
    color: white;
}


.navbar2{
    height: 40px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    margin-top: 0px;
    
}

.menu{
    display: flex;
    align-items: center;
    color: white;
    height: 40px;
}

#pic{
    margin-left: 10px;
}

#textt{
    
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 4px;
    width: 30px;
}

.nav2{
    font-family: Arial;
    color: white;
    margin-left: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.herosection{
    background-image: url(/mainbackground.jpg);
    background-size: cover;
    height: 350px;
    transition: all 0.5s linear 0s;
    display: flex;
}

.herosection:hover{
    background-image: url(/hoverbackground.jpg);
    background-size: cover;
}



.shopsection{

    display: flex;
    
    background-color: pink;
    height: 1200px;
    
   
}

.box{

    height: 390px;
    width: 335px;
    background-color:white;
   margin-left: 7px;
   
}


.box1{
    background-color: white;

   
    
}

.headingg{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}
/* 
box3 */
.hea{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
}


.img12{
    display: flex;
}

.img1{

    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    
   

   
}


.img2{

    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    

}



.img34{
    display: flex;
}

.img3{


    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
   

   
}


.img4{

    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;

}


#linkk{
    color: #007185;
    font-size: 0.8rem;
    margin-left: 20px;
    margin-bottom: 7px;
    
}

#linkk:hover{
    color: rgb(219, 60, 32);
}


.single{

    margin-left: 20px;
    margin-top: 10px;
}


.new{
   
display: flex;
justify-content: space-evenly;
    margin-top: 60px;
    position: absolute;
    right: -50px;
}


.foot{
    height: 600px;
    background-color: #232f3e;
    display: flex;
justify-content: center;
align-items: center;
    margin-top: 500px;
    position: absolute;
    right: 0px;
    width: 1300px;
    color: white;
}

.back{

display: flex;
justify-content: center;
align-items: center;
    margin-top: -557px;
    position: absolute;
    right: 0px;
    height: 40px;
    width: 1300px;
    background-color:#1a2129;
    color: white;
    font-weight: 600;
    
}


.section2{
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.para{
    font-weight: 900;
    
}





